@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
nav{
    background-color: rgb(78, 78, 78);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.308);
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;

}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 5px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.349); 
}

    

article{
    background-color: lightgrey;

}
article > aside {
    background-color: rgb(145, 145, 145);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 8px;
}

footer > p {
    margin: 0px;
}
div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}